.editProfileForm {
    text-align: left;
    border-radius: 0.5rem;
}

.editProfileInputsWrap {
    width: 100%;
}
.editProfileInputs {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 0px #000a;
    color: #909090;
    outline: none !important;

    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    &:focus {
        outline: none;
    }
    @media screen and (min-width: $sm_breakpoint) {
        padding: 1.3rem;
        width: 33rem;
    }

    @media screen and (min-width: $md_breakpoint) {
        width: 40rem;
        font-size: 1.7rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        width: 45rem;
    }
}

.editProfileFieldSection {
    display: flex;
    align-items: flex-start;
    h1 {
        font-weight: normal;
        color: #969696;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin: 0;
        font-size: 1.4rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.45rem;
        }
    }

    margin-bottom: 3.5rem;
    @media screen and (min-width: $md_breakpoint) {
        margin-bottom: 5.5rem;
    }
}

.editProfileSubmitWrap {
    display: flex;
}
.editProfileSubmit {
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 0;
    margin-left: auto;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.4rem;
        padding: 1.3rem 2.5rem;
    }
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    color: white;
}

.errorText {
    margin: 0.2rem 0;
    color: red;
    font-size: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.4rem;
    }
}

.editProfileFieldTitleWrap {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    padding: 0.5rem 0;
    margin-right: 2rem;
    min-width: 8rem;

    @media screen and (min-width: $sm_breakpoint) {
        min-width: 10rem;
    }
}

.imageUploadWrapper {
    display: flex;
    flex-direction: column;
    max-width: 10rem;

    .editProfileAvatar {
        cursor: pointer;
        width: 6.2rem;
        padding: 2rem;
        outline: none !important;
        box-shadow: none !important;
        border: none;
        height: 6.2rem;
        background-position: center;
        background-size: contain;
        &:focus {
            outline: none !important;
            border: 1px solid $light-blue;
        }
        @media screen and (min-width: $md_breakpoint) {
            width: 10rem;
            height: 10rem;
        }
    }

    .removeUploadedImage {
        color: red;
        text-align: center;
        cursor: pointer;
    }
}
