.featuredContainerCarousel {
    cursor: pointer;
    @media screen and (min-width: $lg_breakpoint) {
        margin: 0 5rem;
    }
}

.featuredCarouselSectionWrap {
    display: flex;
}
.featuredCarouselImageSection {
    position: relative;
    width: 100%;
    @media screen and (min-width: $lg_breakpoint) {
        width: 70%;
    }
}

.hideFeaturedCarouselScreenshotSection {
    display: none;
}
.featuredCarouselScreenshotSection {
    background-color: black;
    display: none;
    @media screen and (min-width: $lg_breakpoint) {
        display: block;
        width: 30%;
    }

    .featuredCarouselGameTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-left: 1.5rem;
        font-weight: normal;
        letter-spacing: 0.2rem;
        margin: 0;
        @media screen and (min-width: $lg_breakpoint) {
            margin: 2rem 0.7rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            margin: 3rem 1rem;
        }
    }
    .featuredCarouselGameScreenshotsWrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
        @media screen and (min-width: $xl_breakpoint) {
            grid-gap: 1rem;
        }
    }
}

.sliderAndButtonWrap {
    position: relative;
}

.showButtonsForSmallScreensWrap {
    display: flex;
    justify-content: space-between;
}
.hideFeaturedCarouselButton,
.hideFeaturedCarouselButtonsWrap {
    display: none !important;
}
.featuredCarouselGamePrice {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #acdbf5;
    bottom: 2rem;
    right: 0;
    padding: 1rem;
    font-size: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        bottom: 5rem;
        right: 0;
        padding: 0.75rem;
        font-size: 1.4rem;
    }
}

.featuredAdjustedPriceWrap {
    display: flex;
    align-items: center;
}
.featuredOrigPriceStriked {
    text-decoration: line-through;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.25rem;
    color: #626366;
}
.featuredGamePrice {
    font-size: 1.2rem;
    margin: 0;

    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.4rem;
    }
}

.featuredDiscount {
    @include discountPriceColor;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.4rem;
}
