$fallback-fonts: sans-serif, Arial, Helvetica;

//COLORS
$netflix-red: #e50914;
$bright-red: #f40612;
$light-grey: #e2e2e5;
$selected-plan-color: #e50914;
//BREAKPOINT
$sm-breakpoint: 520px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
