.gameInfoContainer {
    padding: 0rem 3rem 5rem 3rem;

    @media screen and (min-width: $lg_breakpoint) {
        padding: 2rem 8rem 10rem 8rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        padding: 2rem 20rem 10rem 20rem;
    }
    display: flex;
    flex-direction: column;
}
.gameInfoTitle {
    padding: 0 0rem;
}
.gameInfoShowcaseContainer {
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.4) 100%
    );

    @media screen and (min-width: $lg_breakpoint) {
        flex-direction: row-reverse;
    }
    overflow: hidden;
}

.gameInfoShowcasePreviewWrap {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 2rem;
    @media screen and (min-width: $lg_breakpoint) {
        margin-bottom: 0rem;
        display: block;
        width: 40%;
        margin-left: 2rem;
    }
    color: #c6c4df;
}

.gameInfoShowcaseTextWrap {
    p {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 1.3rem;
            margin-bottom: 1.2rem;
        }

        @media screen and (min-width: $xl_breakpoint) {
            font-size: 1.3rem;
        }
    }
    padding: 0.25rem 0.5rem;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 0.5rem 1rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        padding: 0;
    }
}

.gameInfoGenresWrap {
    display: flex;
}
.gameInfoGenreTag {
    color: #67c1f5;
    background-color: rgba(103, 193, 245, 0.2);
    margin-right: 0.5rem;
    padding: 0.5rem;
    &:hover {
        color: white;
        background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
    }
}
.gameInfoShowcaseCarouselWrap {
    width: 60%;
    width: 100%;
    @media screen and (min-width: $lg_breakpoint) {
        width: 60%;
    }
}

.gameInfoShowcaseTitleImage {
    width: 60%;
    @media screen and (min-width: $lg_breakpoint) {
        width: 100%;
    }
    opacity: 0;
}

.gameInfoBuyContainer {
    position: relative;
    width: 100%;

    @media screen and (min-width: $lg_breakpoint) {
        width: 59%;
    }
    background: linear-gradient(
        -60deg,
        rgba(226, 244, 255, 0.3) 5%,
        rgba(84, 107, 115, 0.3) 95%
    );
    border-radius: 0.4rem;
    color: white;
    padding: 1.6rem;
    padding-bottom: 3.6rem;
    margin: 5rem 0;
    > h1 {
        font-size: 1.4rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.6rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 1.8rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            font-size: 1.6rem;
        }
    }
}

.gameInfoAddToCartWrap {
    display: flex;
    background: black;
    padding: 0.25rem;
    position: absolute;
    bottom: -1.5rem;
    right: 4rem;

    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.2rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.4rem;
    }
}
.gameInfoOrigPrice {
    text-decoration: line-through;
    margin: 0;
    margin-right: 1rem;
}
.gameInfoadjustedPrice {
    margin: 0;
}
.gameInfoPriceWrap {
    display: flex;
    align-items: center;
    padding: 0.25rem 1.2rem;
    color: #c6d4df;
}

.gameInfoAddToCartButton {
    border-radius: 0.25rem;
    background-color: #80a106;
    color: #d2efa9;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    &:hover {
        color: white;

        background-color: #769605;
        transition: all 0.3s ease;
    }
    outline: none !important;
    box-shadow: none !important;
    border: none;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.2rem;
    }
}

.gameInfoSectionTitle {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #acb2b8;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    margin-top: 8rem;
}

.gameDescription {
    color: #acb2b8;
    font-size: 1.4rem;
    line-height: 2rem;
}

// .reviewsContainer {
// }

.reviewBox {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    flex-direction: column;
    @media screen and (min-width: $md_breakpoint) {
        flex-direction: row;
    }
    margin-bottom: 1rem;
}
.reviewerInfoWrap {
    padding: 1.25rem 0.5rem;
    display: flex;

    width: 100%;
    .reviewerAvatarWrap {
        width: 6.5rem;
        height: 6.5rem;
        margin-right: 1rem;
        @media screen and (min-width: $md_breakpoint) {
            min-width: 3.5rem;
            height: 3.5rem;
            max-width: 4rem;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (min-width: $md_breakpoint) {
        width: 25%;
    }
}
.reviewerUsername {
    font-weight: bold;
    color: #c6d4df;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.reviewerReviewWrap {
    padding: 0 1rem;
    padding-right: 0rem;
    width: 100%;
}
.reviewerVerdictWrap {
    display: flex;
    align-items: center;

    background: rgba(0, 0, 0, 0.2);
    color: #d6d7d8;
    @media screen and (min-width: $md_breakpoint) {
        padding: 0 1rem;
    }
}

.reviewerThumbIcon {
    font-size: 1.5rem;
    margin-right: 1rem;
}
.reviewerVerdict {
    font-size: 1.5rem;
}

.reviewerDesc {
    font-size: 1.3rem;
    color: #acb2b8;
    @media screen and (min-width: $md_breakpoint) {
        padding: 0 1rem;
    }
}

.gameInfoAdjustedPriceWrap {
    display: flex;
    align-items: center;
}

.gameInfoOrigPriceStriked {
    text-decoration: line-through;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.25rem;
    color: #626366;
}

.gameInfoPrice {
    background-color: rgba(0, 0, 0, 0.6);
    color: #acdbf5;
    margin: 0;
    font-size: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.4rem;
    }
}

.gameInfoDiscount {
    @include discountPriceColor;
    margin-right: 1rem;
    padding: 0.5rem 1.25rem;
    font-size: 1.4rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.6rem;
    }
}

.releaseDate {
    color: #556772;
}

.showcaseAbout {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 2rem;
    @media screen and (min-width: $lg_breakpoint) {
        padding-right: 6rem;
    }
}
.cart {
    text-transform: uppercase;
    color: #a4d007;
    background-color: rgba(164, 208, 7, 0.4);
    background-image: url(https://store.akamai.steamstatic.com/public/images/v6/storemenu/background_cart.jpg);
    cursor: pointer;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    &:hover {
        color: #111111;
        background-color: rgba(164, 208, 7, 0.5);
    }
    padding: 0.25rem 2rem;
    font-size: 1.2rem;
    margin-left: auto;
}

.noReviews {
    color: #acb2b8;
    font-size: 1.3rem;
    font-weight: normal;
    @media screen and (min-width: $lg_breakpoint) {
        font-size: 1.6rem;
    }
}
