.bannerTitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2rem;

    @media screen and(min-width: $sm_breakpoint) {
        font-size: 1.3rem;
    }
    @media screen and(min-width: $md_breakpoint) {
        font-size: 1.6rem;
    }

    @media screen and (min-width: $lg_breakpoint) {
        margin-left: 5.5rem;
    }
}

.homeContainer {
    background: url(https://store.akamai.steamstatic.com/public/images/v6/home/cluster_bg.png?v=1)
        bottom center no-repeat;
    padding: 1rem 3rem;
    @media screen and (min-width: $sm_breakpoint) {
        padding: 1rem 3rem;
    }

    @media screen and (min-width: $md_breakpoint) {
        padding: 1rem 6rem;
    }

    @media screen and (min-width: $lg_breakpoint) {
        padding: 1rem 10rem;
    }
}
